In [1]:
import pandas as pd 
import numpy as np

In [2]:
df=pd.read_csv(r"C:\Users\Dias\Downloads\weather_scraping_2023-2016.csv")

In [3]:
df.head()

,date,timestamp,time_of_day,temperature,condition,pressure,dew_point,humidity,visibility_in_miles,wind_chill_temp,wdir_cardinal,wind_gust,wind_speed,maximum_temp,minimum_temp,precipitation_rate,snow_rate
0,2016-03-16,10:21:00,N,50.0,Mostly Cloudy,NaN,46.0,86.0,10.0,50.0,E,NaN,3.0,57.0,45.0,0.0,NaN
1,2016-03-16,11:21:00,N,47.0,Fair,Falling Rapidly,43.0,86.0,10.0,47.0,SW,NaN,3.0,NaN,NaN,0.0,NaN
2,2016-03-16,12:21:00,N,46.0,Fair,NaN,42.0,86.0,10.0,44.0,ENE,NaN,5.0,NaN,NaN,0.0,NaN
3,2016-03-16,13:21:00,N,46.0,Fair,NaN,42.0,86.0,10.0,46.0,CALM,NaN,0.0,NaN,NaN,0.0,NaN
4,2016-03-16,14:21:00,N,45.0,Partly Cloudy,Steady,41.0,86.0,10.0,45.0,CALM,NaN,0.0,NaN,NaN,0.0,NaN

In [4]:
df.shape

(68030, 17)

In [5]:
df.tail()

,date,timestamp,time_of_day,temperature,condition,pressure,dew_point,humidity,visibility_in_miles,wind_chill_temp,wdir_cardinal,wind_gust,wind_speed,maximum_temp,minimum_temp,precipitation_rate,snow_rate
68025,2023-03-01,08:14:00,N,40.0,Light Drizzle,NaN,39.0,97.0,7.0,33.0,ENE,NaN,10.0,NaN,NaN,0.0,NaN
68026,2023-03-01,08:21:00,N,40.0,Light Drizzle,Falling Rapidly,39.0,97.0,7.0,34.0,ENE,NaN,9.0,NaN,NaN,0.0,NaN
68027,2023-03-01,09:21:00,N,40.0,Light Drizzle,NaN,39.0,97.0,5.0,33.0,ENE,NaN,10.0,NaN,NaN,0.0,NaN
68028,2023-03-01,09:59:00,N,40.0,Light Drizzle,NaN,39.0,97.0,2.0,34.0,NE,NaN,9.0,NaN,NaN,0.0,NaN
68029,2023-03-01,10:21:00,N,40.0,Light Drizzle,NaN,40.0,100.0,2.0,34.0,NE,NaN,9.0,43.0,29.0,0.0,NaN

In [6]:
df['date']

0        2016-03-16
1        2016-03-16
2        2016-03-16
3        2016-03-16
4        2016-03-16
            ...
68025    2023-03-01
68026    2023-03-01
68027    2023-03-01
68028    2023-03-01
68029    2023-03-01
Name: date, Length: 68030, dtype: object

In [7]:
df["date"] = pd.to_datetime(df["date"])
df.info()
# df['date'] = pd.to_datetime(df['date'], format='%m/%d/%Y')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68030 entries, 0 to 68029
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   date                 68030 non-null  datetime64[ns]
 1   timestamp            68030 non-null  object
 2   time_of_day          68030 non-null  object
 3   temperature          68025 non-null  float64
 4   condition            68023 non-null  object
 5   pressure             20132 non-null  object
 6   dew_point            68023 non-null  float64
 7   humidity             68023 non-null  float64
 8   visibility_in_miles  68024 non-null  float64
 9   wind_chill_temp      67983 non-null  float64
 10  wdir_cardinal        67983 non-null  object
 11  wind_gust            10439 non-null  float64
 12  wind_speed           67983 non-null  float64
 13  maximum_temp         2465 non-null   float64
 14  minimum_temp         2465 non-null   float64
 15  precipitation_rate   68030 non-null  float64
 16  snow_rate            86 non-null     float64
dtypes: datetime64[ns](1), float64(11), object(5)
memory usage: 8.8+ MB

In [8]:
# df["date"]=df['date'].dt.strftime('%Y-%m-%d')
df.head(50)

,date,timestamp,time_of_day,temperature,condition,pressure,dew_point,humidity,visibility_in_miles,wind_chill_temp,wdir_cardinal,wind_gust,wind_speed,maximum_temp,minimum_temp,precipitation_rate,snow_rate
0,2016-03-16,10:21:00,N,50.0,Mostly Cloudy,NaN,46.0,86.0,10.0,50.0,E,NaN,3.0,57.0,45.0,0.00,NaN
1,2016-03-16,11:21:00,N,47.0,Fair,Falling Rapidly,43.0,86.0,10.0,47.0,SW,NaN,3.0,NaN,NaN,0.00,NaN
2,2016-03-16,12:21:00,N,46.0,Fair,NaN,42.0,86.0,10.0,44.0,ENE,NaN,5.0,NaN,NaN,0.00,NaN
3,2016-03-16,13:21:00,N,46.0,Fair,NaN,42.0,86.0,10.0,46.0,CALM,NaN,0.0,NaN,NaN,0.00,NaN
4,2016-03-16,14:21:00,N,45.0,Partly Cloudy,Steady,41.0,86.0,10.0,45.0,CALM,NaN,0.0,NaN,NaN,0.00,NaN
5,2016-03-16,15:21:00,N,44.0,Fog,NaN,41.0,89.0,2.0,44.0,CALM,NaN,0.0,NaN,NaN,0.00,NaN
6,2016-03-16,16:21:00,D,45.0,Partly Cloudy,NaN,41.0,86.0,10.0,45.0,CALM,NaN,0.0,NaN,NaN,0.00,NaN
7,2016-03-16,17:21:00,D,46.0,Shallow Fog,Rising,44.0,93.0,10.0,46.0,ESE,NaN,3.0,NaN,NaN,0.00,NaN
8,2016-03-16,18:21:00,D,49.0,Shallow Fog,NaN,44.0,83.0,10.0,49.0,S,NaN,3.0,NaN,NaN,0.00,NaN
9,2016-03-16,19:21:00,D,52.0,Mostly Cloudy,NaN,44.0,74.0,10.0,52.0,S,NaN,3.0,NaN,NaN,0.00,NaN
10,2016-03-16,20:21:00,D,52.0,Mostly Cloudy,Steady,44.0,74.0,10.0,52.0,SSW,NaN,3.0,NaN,NaN,0.00,NaN
11,2016-03-16,21:21:00,D,53.0,Mostly Cloudy,NaN,43.0,69.0,10.0,53.0,SSW,NaN,10.0,NaN,NaN,0.00,NaN
12,2016-03-16,22:21:00,D,55.0,Mostly Cloudy,NaN,44.0,67.0,10.0,55.0,SSW,NaN,9.0,NaN,NaN,0.00,NaN
13,2016-03-16,23:21:00,D,56.0,Mostly Cloudy,Falling Rapidly,44.0,64.0,10.0,56.0,S,NaN,8.0,NaN,NaN,0.00,NaN
14,2016-03-16,00:21:00,D,56.0,Mostly Cloudy,NaN,44.0,64.0,10.0,56.0,S,NaN,10.0,NaN,NaN,0.00,NaN
15,2016-03-16,01:21:00,D,55.0,Mostly Cloudy,NaN,43.0,64.0,10.0,55.0,SSE,NaN,9.0,NaN,NaN,0.00,NaN
16,2016-03-16,02:21:00,D,53.0,Cloudy,Falling,43.0,69.0,10.0,53.0,S,NaN,10.0,NaN,NaN,0.00,NaN
17,2016-03-16,03:21:00,D,50.0,Cloudy,NaN,44.0,80.0,10.0,50.0,S,NaN,10.0,NaN,NaN,0.00,NaN
18,2016-03-16,04:10:00,D,48.0,Light Rain with Thunder,NaN,45.0,87.0,10.0,44.0,SSW,NaN,10.0,NaN,NaN,0.00,NaN
19,2016-03-16,04:21:00,D,49.0,Light Rain with Thunder,NaN,44.0,83.0,10.0,45.0,S,NaN,9.0,NaN,NaN,0.00,NaN
20,2016-03-16,04:59:00,N,48.0,Mostly Cloudy,NaN,45.0,87.0,10.0,45.0,S,NaN,7.0,NaN,NaN,0.01,NaN
21,2016-03-16,05:21:00,N,50.0,Cloudy,Rising Rapidly,45.0,83.0,10.0,50.0,SSE,NaN,7.0,NaN,NaN,0.01,NaN
22,2016-03-16,06:21:00,N,49.0,Cloudy,NaN,45.0,86.0,10.0,45.0,ESE,NaN,8.0,NaN,NaN,0.00,NaN
23,2016-03-16,07:21:00,N,49.0,Cloudy,NaN,45.0,86.0,10.0,45.0,ESE,NaN,9.0,NaN,NaN,0.00,NaN
24,2016-03-16,08:21:00,N,48.0,Partly Cloudy,Rising Rapidly,42.0,80.0,10.0,43.0,ESE,NaN,12.0,NaN,NaN,0.00,NaN
25,2016-03-16,09:21:00,N,47.0,Mostly Cloudy,NaN,42.0,83.0,10.0,44.0,E,NaN,7.0,NaN,NaN,0.00,NaN
26,2016-03-17,10:21:00,N,48.0,Cloudy,NaN,43.0,83.0,10.0,43.0,N,NaN,12.0,58.0,42.0,0.00,NaN
27,2016-03-17,11:21:00,N,47.0,Partly Cloudy,Rising Rapidly,42.0,83.0,10.0,47.0,CALM,NaN,0.0,NaN,NaN,0.00,NaN
28,2016-03-17,12:21:00,N,47.0,Mostly Cloudy,NaN,42.0,83.0,10.0,45.0,NE,NaN,5.0,NaN,NaN,0.00,NaN
29,2016-03-17,13:21:00,N,45.0,Partly Cloudy,NaN,41.0,86.0,10.0,45.0,CALM,NaN,0.0,NaN,NaN,0.00,NaN
30,2016-03-17,14:21:00,N,44.0,Partly Cloudy,Falling Rapidly,40.0,85.0,10.0,44.0,CALM,NaN,0.0,NaN,NaN,0.00,NaN
31,2016-03-17,15:21:00,N,44.0,Fair,NaN,41.0,89.0,10.0,42.0,W,NaN,5.0,NaN,NaN,0.00,NaN
32,2016-03-17,16:21:00,D,46.0,Mostly Cloudy,NaN,42.0,86.0,10.0,43.0,W,NaN,6.0,NaN,NaN,0.00,NaN
33,2016-03-17,17:06:00,D,48.0,Mostly Cloudy,NaN,43.0,82.0,10.0,45.0,WSW,NaN,7.0,NaN,NaN,0.00,NaN
34,2016-03-17,17:21:00,D,48.0,Mostly Cloudy,Steady,44.0,86.0,10.0,45.0,WSW,NaN,6.0,NaN,NaN,0.00,NaN
35,2016-03-17,17:52:00,D,48.0,Mostly Cloudy,NaN,45.0,87.0,10.0,45.0,WSW,NaN,7.0,NaN,NaN,0.00,NaN
36,2016-03-17,18:21:00,D,49.0,Mostly Cloudy,NaN,43.0,80.0,10.0,47.0,WSW,NaN,6.0,NaN,NaN,0.00,NaN
37,2016-03-17,19:21:00,D,51.0,Partly Cloudy,NaN,44.0,77.0,10.0,51.0,SW,NaN,12.0,NaN,NaN,0.00,NaN
38,2016-03-17,20:21:00,D,51.0,Partly Cloudy,Falling Rapidly,46.0,83.0,10.0,51.0,SW,NaN,12.0,NaN,NaN,0.00,NaN
39,2016-03-17,21:21:00,D,53.0,Partly Cloudy,NaN,47.0,80.0,10.0,53.0,SW,NaN,10.0,NaN,NaN,0.00,NaN
40,2016-03-17,22:21:00,D,58.0,Partly Cloudy,NaN,46.0,65.0,10.0,58.0,SSW,NaN,10.0,NaN,NaN,0.00,NaN
41,2016-03-17,23:21:00,D,61.0,Mostly Cloudy,Falling Rapidly,42.0,50.0,10.0,61.0,WSW,21.0,12.0,NaN,NaN,0.00,NaN
42,2016-03-17,00:21:00,D,61.0,Mostly Cloudy,NaN,27.0,27.0,10.0,61.0,NW,26.0,18.0,NaN,NaN,0.00,NaN
43,2016-03-17,01:21:00,D,61.0,Cloudy,NaN,34.0,36.0,10.0,61.0,WSW,NaN,14.0,NaN,NaN,0.00,NaN
44,2016-03-17,02:21:00,D,61.0,Mostly Cloudy,Falling Rapidly,34.0,36.0,10.0,61.0,SW,25.0,15.0,NaN,NaN,0.00,NaN
45,2016-03-17,03:21:00,D,58.0,Cloudy / Windy,NaN,32.0,37.0,10.0,58.0,NW,45.0,33.0,NaN,NaN,0.00,NaN
46,2016-03-17,04:21:00,D,54.0,Cloudy,NaN,35.0,49.0,10.0,54.0,W,NaN,3.0,NaN,NaN,0.00,NaN
47,2016-03-17,05:21:00,N,51.0,Mostly Cloudy,Steady,37.0,59.0,10.0,51.0,SW,NaN,7.0,NaN,NaN,0.00,NaN
48,2016-03-17,06:21:00,N,52.0,Partly Cloudy,NaN,36.0,54.0,10.0,52.0,WSW,NaN,13.0,NaN,NaN,0.00,NaN
49,2016-03-17,07:21:00,N,52.0,Fair,NaN,38.0,59.0,10.0,52.0,W,NaN,8.0,NaN,NaN,0.00,NaN

In [9]:
df['date']

0       2016-03-16
1       2016-03-16
2       2016-03-16
3       2016-03-16
4       2016-03-16
           ...
68025   2023-03-01
68026   2023-03-01
68027   2023-03-01
68028   2023-03-01
68029   2023-03-01
Name: date, Length: 68030, dtype: datetime64[ns]

In [10]:
df.dtypes

date                   datetime64[ns]
timestamp                      object
time_of_day                    object
temperature                   float64
condition                      object
pressure                       object
dew_point                     float64
humidity                      float64
visibility_in_miles           float64
wind_chill_temp               float64
wdir_cardinal                  object
wind_gust                     float64
wind_speed                    float64
maximum_temp                  float64
minimum_temp                  float64
precipitation_rate            float64
snow_rate                     float64
dtype: object

## Filtering data 2016 onwards

In [11]:
filtered_df = df.loc[(df['date'] > '2015-12-31')]

In [12]:
filtered_df.head()

,date,timestamp,time_of_day,temperature,condition,pressure,dew_point,humidity,visibility_in_miles,wind_chill_temp,wdir_cardinal,wind_gust,wind_speed,maximum_temp,minimum_temp,precipitation_rate,snow_rate
0,2016-03-16,10:21:00,N,50.0,Mostly Cloudy,NaN,46.0,86.0,10.0,50.0,E,NaN,3.0,57.0,45.0,0.0,NaN
1,2016-03-16,11:21:00,N,47.0,Fair,Falling Rapidly,43.0,86.0,10.0,47.0,SW,NaN,3.0,NaN,NaN,0.0,NaN
2,2016-03-16,12:21:00,N,46.0,Fair,NaN,42.0,86.0,10.0,44.0,ENE,NaN,5.0,NaN,NaN,0.0,NaN
3,2016-03-16,13:21:00,N,46.0,Fair,NaN,42.0,86.0,10.0,46.0,CALM,NaN,0.0,NaN,NaN,0.0,NaN
4,2016-03-16,14:21:00,N,45.0,Partly Cloudy,Steady,41.0,86.0,10.0,45.0,CALM,NaN,0.0,NaN,NaN,0.0,NaN

In [13]:
filtered_df.tail()

,date,timestamp,time_of_day,temperature,condition,pressure,dew_point,humidity,visibility_in_miles,wind_chill_temp,wdir_cardinal,wind_gust,wind_speed,maximum_temp,minimum_temp,precipitation_rate,snow_rate
68025,2023-03-01,08:14:00,N,40.0,Light Drizzle,NaN,39.0,97.0,7.0,33.0,ENE,NaN,10.0,NaN,NaN,0.0,NaN
68026,2023-03-01,08:21:00,N,40.0,Light Drizzle,Falling Rapidly,39.0,97.0,7.0,34.0,ENE,NaN,9.0,NaN,NaN,0.0,NaN
68027,2023-03-01,09:21:00,N,40.0,Light Drizzle,NaN,39.0,97.0,5.0,33.0,ENE,NaN,10.0,NaN,NaN,0.0,NaN
68028,2023-03-01,09:59:00,N,40.0,Light Drizzle,NaN,39.0,97.0,2.0,34.0,NE,NaN,9.0,NaN,NaN,0.0,NaN
68029,2023-03-01,10:21:00,N,40.0,Light Drizzle,NaN,40.0,100.0,2.0,34.0,NE,NaN,9.0,43.0,29.0,0.0,NaN

In [14]:
filtered_df.to_csv(r'C:\Users\Dias\Documents\CRASH files\Visualisation\file3.csv')

In [15]:
filtered_df.shape

(68030, 17)

In [16]:
df.columns

Index(['date', 'timestamp', 'time_of_day', 'temperature', 'condition',
       'pressure', 'dew_point', 'humidity', 'visibility_in_miles',
       'wind_chill_temp', 'wdir_cardinal', 'wind_gust', 'wind_speed',
       'maximum_temp', 'minimum_temp', 'precipitation_rate', 'snow_rate'],
      dtype='object')

In [17]:
df.columns

Index(['date', 'timestamp', 'time_of_day', 'temperature', 'condition',
       'pressure', 'dew_point', 'humidity', 'visibility_in_miles',
       'wind_chill_temp', 'wdir_cardinal', 'wind_gust', 'wind_speed',
       'maximum_temp', 'minimum_temp', 'precipitation_rate', 'snow_rate'],
      dtype='object')

In [18]:
df.dtypes

date                   datetime64[ns]
timestamp                      object
time_of_day                    object
temperature                   float64
condition                      object
pressure                       object
dew_point                     float64
humidity                      float64
visibility_in_miles           float64
wind_chill_temp               float64
wdir_cardinal                  object
wind_gust                     float64
wind_speed                    float64
maximum_temp                  float64
minimum_temp                  float64
precipitation_rate            float64
snow_rate                     float64
dtype: object

In [19]:
# df.rename(columns = {'CRASH DATE':'CRASH_DATE','CRASH TIME':'CRASH_TIME'}, inplace = True)

In [20]:
df['date'].dt.dayofyear.head()

0    76
1    76
2    76
3    76
4    76
Name: date, dtype: int64

## Creating column for day name

In [21]:
df['Day_Name']=df['date'].dt.day_name()

In [22]:
df['Day_Name']

0        Wednesday
1        Wednesday
2        Wednesday
3        Wednesday
4        Wednesday
           ...
68025    Wednesday
68026    Wednesday
68027    Wednesday
68028    Wednesday
68029    Wednesday
Name: Day_Name, Length: 68030, dtype: object

## Creating column for Month

In [23]:
df['month']=df['date'].dt.strftime("%m")

In [24]:
df['month']

0        03
1        03
2        03
3        03
4        03
         ..
68025    03
68026    03
68027    03
68028    03
68029    03
Name: month, Length: 68030, dtype: object

## Creating column for Year

In [25]:
df['year']=df['date'].dt.strftime("%Y")

In [26]:
df['year']

0        2016
1        2016
2        2016
3        2016
4        2016
         ...
68025    2023
68026    2023
68027    2023
68028    2023
68029    2023
Name: year, Length: 68030, dtype: object

In [27]:
df.columns

Index(['date', 'timestamp', 'time_of_day', 'temperature', 'condition',
       'pressure', 'dew_point', 'humidity', 'visibility_in_miles',
       'wind_chill_temp', 'wdir_cardinal', 'wind_gust', 'wind_speed',
       'maximum_temp', 'minimum_temp', 'precipitation_rate', 'snow_rate',
       'Day_Name', 'month', 'year'],
      dtype='object')

In [28]:
df['timestamp']

0        10:21:00
1        11:21:00
2        12:21:00
3        13:21:00
4        14:21:00
           ...
68025    08:14:00
68026    08:21:00
68027    09:21:00
68028    09:59:00
68029    10:21:00
Name: timestamp, Length: 68030, dtype: object

## Stripping timestamp

In [29]:
df['timestamp'] = df['timestamp'].map(lambda x: str(x)[:-6])

In [30]:
df['timestamp']

0        10
1        11
2        12
3        13
4        14
         ..
68025    08
68026    08
68027    09
68028    09
68029    10
Name: timestamp, Length: 68030, dtype: object

In [31]:
df['timestamp']=df['timestamp'] + '00'

In [32]:
df.head(5)

,date,timestamp,time_of_day,temperature,condition,pressure,dew_point,humidity,visibility_in_miles,wind_chill_temp,wdir_cardinal,wind_gust,wind_speed,maximum_temp,minimum_temp,precipitation_rate,snow_rate,Day_Name,month,year
0,2016-03-16,1000,N,50.0,Mostly Cloudy,NaN,46.0,86.0,10.0,50.0,E,NaN,3.0,57.0,45.0,0.0,NaN,Wednesday,03,2016
1,2016-03-16,1100,N,47.0,Fair,Falling Rapidly,43.0,86.0,10.0,47.0,SW,NaN,3.0,NaN,NaN,0.0,NaN,Wednesday,03,2016
2,2016-03-16,1200,N,46.0,Fair,NaN,42.0,86.0,10.0,44.0,ENE,NaN,5.0,NaN,NaN,0.0,NaN,Wednesday,03,2016
3,2016-03-16,1300,N,46.0,Fair,NaN,42.0,86.0,10.0,46.0,CALM,NaN,0.0,NaN,NaN,0.0,NaN,Wednesday,03,2016
4,2016-03-16,1400,N,45.0,Partly Cloudy,Steady,41.0,86.0,10.0,45.0,CALM,NaN,0.0,NaN,NaN,0.0,NaN,Wednesday,03,2016

In [33]:
# df[['Day_Name','timestamp']]
df[['year', 'month', 'timestamp', 'condition', 'dew_point', 'humidity', 'visibility_in_miles', 'wind_chill_temp', 'wind_gust', 'wind_speed', 'maximum_temp', 'minimum_temp', 'precipitation_rate', 'snow_rate' ]]

,year,month,timestamp,condition,dew_point,humidity,visibility_in_miles,wind_chill_temp,wind_gust,wind_speed,maximum_temp,minimum_temp,precipitation_rate,snow_rate
0,2016,03,1000,Mostly Cloudy,46.0,86.0,10.0,50.0,NaN,3.0,57.0,45.0,0.0,NaN
1,2016,03,1100,Fair,43.0,86.0,10.0,47.0,NaN,3.0,NaN,NaN,0.0,NaN
2,2016,03,1200,Fair,42.0,86.0,10.0,44.0,NaN,5.0,NaN,NaN,0.0,NaN
3,2016,03,1300,Fair,42.0,86.0,10.0,46.0,NaN,0.0,NaN,NaN,0.0,NaN
4,2016,03,1400,Partly Cloudy,41.0,86.0,10.0,45.0,NaN,0.0,NaN,NaN,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68025,2023,03,0800,Light Drizzle,39.0,97.0,7.0,33.0,NaN,10.0,NaN,NaN,0.0,NaN
68026,2023,03,0800,Light Drizzle,39.0,97.0,7.0,34.0,NaN,9.0,NaN,NaN,0.0,NaN
68027,2023,03,0900,Light Drizzle,39.0,97.0,5.0,33.0,NaN,10.0,NaN,NaN,0.0,NaN
68028,2023,03,0900,Light Drizzle,39.0,97.0,2.0,34.0,NaN,9.0,NaN,NaN,0.0,NaN
68029,2023,03,1000,Light Drizzle,40.0,100.0,2.0,34.0,NaN,9.0,43.0,29.0,0.0,NaN

In [34]:
condition_df=df[['year', 'month', 'timestamp', 'condition', 'dew_point', 'humidity', 'visibility_in_miles', 'wind_chill_temp', 'wind_gust', 'wind_speed', 'maximum_temp', 'minimum_temp', 'precipitation_rate', 'snow_rate' ]]

In [41]:
condition_df.head(5)

,year,month,timestamp,condition,dew_point,humidity,visibility_in_miles,wind_chill_temp,wind_gust,wind_speed,maximum_temp,minimum_temp,precipitation_rate,snow_rate
0,2016,03,1000,Mostly Cloudy,46.0,86.0,10.0,50.0,NaN,3.0,57.0,45.0,0.0,NaN
1,2016,03,1100,Fair,43.0,86.0,10.0,47.0,NaN,3.0,NaN,NaN,0.0,NaN
2,2016,03,1200,Fair,42.0,86.0,10.0,44.0,NaN,5.0,NaN,NaN,0.0,NaN
3,2016,03,1300,Fair,42.0,86.0,10.0,46.0,NaN,0.0,NaN,NaN,0.0,NaN
4,2016,03,1400,Partly Cloudy,41.0,86.0,10.0,45.0,NaN,0.0,NaN,NaN,0.0,NaN

In [42]:
condition_df=pd.DataFrame(condition_df)

In [44]:
condition_df.shape

(68030, 14)

In [46]:
condition_df.to_csv(r"C:\Users\Dias\Documents\CRASH files\Visualisation\ConditionValues11.csv")

In [ ]:
## Removing null values from max and min temp

In [47]:
minmax_df = condition_df.dropna(axis=0, subset=['maximum_temp', 'minimum_temp'])

In [48]:
minmax_df.head()

,year,month,timestamp,condition,dew_point,humidity,visibility_in_miles,wind_chill_temp,wind_gust,wind_speed,maximum_temp,minimum_temp,precipitation_rate,snow_rate
0,2016,03,1000,Mostly Cloudy,46.0,86.0,10.0,50.0,NaN,3.0,57.0,45.0,0.0,NaN
26,2016,03,1000,Cloudy,43.0,83.0,10.0,43.0,NaN,12.0,58.0,42.0,0.0,NaN
52,2016,03,1000,Fair,37.0,64.0,10.0,45.0,NaN,9.0,63.0,44.0,0.0,NaN
76,2016,03,1000,Fair,23.0,43.0,10.0,37.0,28.0,16.0,61.0,44.0,0.0,NaN
100,2016,03,1000,Cloudy,9.0,28.0,10.0,32.0,NaN,15.0,47.0,36.0,0.0,NaN

In [49]:
minmax_df.shape

(2465, 14)

In [50]:
minmax_df.to_csv(r"C:\Users\Dias\Documents\CRASH files\Visualisation\ConditionMaxMin11.csv")

In [45]:
condition_df.groupby(['year', 'month','timestamp']).size()

year  month  timestamp
2016  03     0000         19
             0100         17
             0200         17
             0300         16
             0400         20
                          ..
2023  03     1900          1
             2000          1
             2100          1
             2200          1
             2300          1
Length: 2040, dtype: int64

In [38]:
#df['CRASH_TIME'] = df['CRASH_TIME'].map(lambda x: x + "00")

In [39]:
df.timestamp.unique()

array(['1000', '1100', '1200', '1300', '1400', '1500', '1600', '1700',
       '1800', '1900', '2000', '2100', '2200', '2300', '0000', '0100',
       '0200', '0300', '0400', '0500', '0600', '0700', '0800', '0900'],
      dtype=object)

In [51]:
condition_df.groupby(['year', 'month','timestamp']).size().reset_index().rename(columns={0:'count'})

      year month timestamp  count
0     2016    03      0000     19
1     2016    03      0100     17
2     2016    03      0200     17
3     2016    03      0300     16
4     2016    03      0400     20
...    ...   ...       ...    ...
2035  2023    03      1900      1
2036  2023    03      2000      1
2037  2023    03      2100      1
2038  2023    03      2200      1
2039  2023    03      2300      1

[2040 rows x 4 columns]

In [52]:
conditionCount=condition_df.groupby(['year', 'month', 'timestamp']).size().reset_index().rename(columns={0:'count'})

In [54]:
conditionCount_df=pd.DataFrame(conditionCount)

In [ ]:
conditionCount_df.to_csv(r"C:\Users\Dias\Documents\CRASH files\Visualisation\ConditionCount11.csv")